<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css">

    <!--    bootstrap   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container">
<h1 class="row px-2">Error occurred</h1>
<div class="px-2 row">
    <p class="row fw-bold">VisitId: <span th:text="${error.visitId}"/></p>
    <p class="row text-secondary">Server time: <span th:text="${error.time}"/></p>
    <p class="row text-danger">Error code: <span th:text="${error.errorCode}"/></p>
    <p class="row text-danger">Message: <span th:text="${error.message}"/></p>

</div >

<div class="row col-10 row-cols-auto px-2">
    <div class="col px-0">
        <a class="btn btn-primary" role="button" href="http://localhost:8080/bookRepair">Create new booking</a>
    </div>
    <div class="col mx-2 px-0">
        <a class="btn btn-primary col" role="button" href="http://localhost:8080/checkBooking">Check your request status here</a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>